{% extends "base.html" %}

{% block cright %}
	<h3>增加IDC</h3>
	<table class="table table-striped table-bordered">
		<tr>
			<th>IDC名字</th>
			<th>Domain</th>
			<th colspan="2">IDC最大带宽</th>
		</tr>

        <tr>
            <form method="post" action="">
            <td><input type="text" name="idc_name"></td>
            <td><input type="text" name="domain" value='-'></td>
            <td><input type="text" name="idc_bw" value='0'></td>
            <td><input type="submit" value="提交" class="btn btn-default"></td>
            </form>
        </tr>
		  </table>
{% end %}
