{% extends "base.html" %}

{% block cright %}   
 <script type="text/javascript">
    $(document).ready(function(){
    $('#s tr').each(function () {  
        var renum = /(\d+)/gi;
        var sd=$(this).children('td').eq(5).html();
        var td=$(this).children('td').eq(3).html();
        var savedisk = sd.match(renum);
        var totaldisk = td.match(renum);
        if(savedisk/totaldisk>0.8){
            $(this).css("background","#FF0000");
        }
    });
});
    </script>

    <h3>服务器信息<h3/>
	<table id="s"  class="table table-striped table-bordered table-condensed">
		<tr>
            <th>机房</th>
			<th>公网IP</th>
			<th>服务器最大带宽</th>
            <th>服务器使用带宽</th>
			<th>服务器最大磁盘</th>
			<th>服务器使用磁盘</th>
			<th colspan="3">服务器固化磁盘</th>
		</tr>
        {% for result in cdn_machine %}
		<tr>
            <td>{{ result['idc_name']}}
            <td>{{ result['host'] }}</td>
            <td>{{ result['machine_max_bandwidth'] }} M</td>
            <td>{{ result['machine_use_bandwidth'] }} M</td>
            <td>{{ result['total_disk']//1024//1024/1024 }} G</td>
            <td>{{ result['use_disk']//1024//1024/1024 }} G</td>
            <td>{{ result['save_disk']//1024//1024/1024 }} G</td>
            <td> <a href="/machine/edit/{{ result['machine_id'] }}">编辑</a></td>
            <td> <a href="/machine/delete/{{ result['machine_id'] }}">删除</a></td>
        </tr>
        {% end %}
    </table>
{% end %}
