{% extends "base.html" %}

{% block cright %}
	<h3>机房信息</h3>
	<table class="table table-striped table-bordered">
		<tr>
			<th>公网IP</th>
			<th>服务器最大带宽</th>
            <th>服务器使用带宽</th>
			<th>服务器最大磁盘</th>
			<th>服务器使用磁盘</th>
			<th colspan="2">服务器固化磁盘</th>
		</tr>
		<tr>
            <td>{{ cdn_machine['host'] }}</td>
            <td>{{ cdn_machine['max_bandwidth'] }}</td>
            <td>{{ cdn_machine['use_bandwidth'] }}</td>
            <td>{{ cdn_machine['total_disk'] }}</td>
            <td>{{ cdn_machine['use_disk'] }}</td>
            <td>{{ cdn_machine['save_disk'] }}</td>
            <td>
                <form method="post" action="">
                    删除
                    <div class="radio">
                        <label>
                            <input type="radio" name="delidc" value="yes"/> 是
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="delidc" value="no"/> 否
                        </label>
                    </div>
                    <input type="hidden" name="idc_id" value={{ cdn_machine['idc_id'] }}>
                    <input type="submit" value="提交" class="btn btn-default">
                </form>
            </td>
        </tr>
	</table>
{% end %}
