{% extends "base.html" %}

{% block cright %}
	<h3>机房信息</h3>
	<table class="table table-striped table-bordered">
		<tr>
			<th>IDC id</th>
			<th>公网IP</th>
			<th>服务器最大带宽</th>
            <th>服务器使用带宽</th>
			<th>服务器最大磁盘</th>
			<th>服务器使用磁盘</th>
			<th colspan="2">服务器固化磁盘</th>
        </tr>
        <tr>
                <form method="post" action="">
                <td>
                    <select name='idc_id'>
                        {% for item in cdn_idc %}
                        <option value={{ item['idc_id'] }}>{{ item['idc_name'] }}</option>
                        {% end %}
                    </select>
                </td>
                <td><input type="text" name="host"value='0.0.0.0'></td>
                <td><input type="text" name="max_bandwidth" value='0'></td>
                <td><input type="text" name="use_bandwidth" value='0'></td>
                <td><input type="text" name="total_disk" value='0'></td>
                <td><input type="text" name="use_disk" value='0'></td>
                <td><input type="text" name="save_disk" value='0'></td>
                <td><input type="submit" value="提交" class="btn btn-default"></td>
            </form>
        </tr>
	</table>
{% end %}
