{% extends "base.html" %}
{% block cright %}
    <h3>查询</h3>
    <table class="table table-striped table-bordered">
        <tr>
            <th>vid</th>
            <th colspan="2">ip</th>
        </tr>
        <tr>
            <form method="post" action="">
                <td><input type="text" name="vid" value='131207543'></td>
                <td><input type="text" name="ip" value='218.9.147.207'></td>
                <td><input type="submit" value="提交"></td>
            </form>
        </tr>
    <table>
    {% if error %}
    <br />{{ error }}<br />
    {% end %}
{% end %}
