{% extends "base.html" %}

{% block cright %}
<form id="form1" name="form1" method="post" action=""  onreset="resetAll" onsubmit="chkSubmit();">
	<table class="table table-striped table-bordered">
	<h3>调度策略</h3>
		<tr>
			<th>地区</th>
			<th>ISP服务商</th>
			<th colspan="4">IDC机房</th>
        </tr>
        <tr>
            <td>
                <select name='region_id'>
                    {% for region in cdn_region %}
                        <option value={{ region['region_id'] }}>{{ region['region_name'] }}</option>
                    {% end %}
                </select>
            </td>
            <td>
                <select name='sp_id'>
                    {% for sp in cdn_sp %}
                        <option value={{ sp['sp_id'] }}>{{ sp['sp_name'] }}</option>
                    {% end %}
                </select>
            </td>
            <td>
           <table>

                    <tbody id="tb_0">
                        <tr id="zone_0_0">
                            <td>第 1 热点：</td>
                            <td>
                            <select name="vals[0][name]">
                            {% for item in cdn_idc %}
                                <option  value="{{ item['idc_id'] }}">{{ item['idc_name'] }}</option>
                            {% end %}
                            </select>
                            </td>
                            <td><input type=button id="btn_0" value="添加热点" size=40 onclick = "add_new_hot_spot(0);"></td><td></td>
                        </tr>

                    </tbody>
                    
                </table>
            </td>
        </tr>       
	</table>
    <div align="center"><input type="submit" value="提交" class="btn btn-default"></div>
</form>
{% end %}


{% block footer %}
<script type="text/javascript">
var hot_dns_list = new Array();
config_index = [1];

{% for idc in cdn_idc %}
hot_dns_list["{{ idc['idc_name']}}"] = "{{ idc['idc_id'] }}";
{% end %}

function add_new_hot_spot(zone)
{
    var level = config_index[zone];
    var tb = document.getElementById("tb_" + parseInt(zone));
    var selections = tb.getElementsByTagName("select");
    for(var i = 0; i < selections.length; i++)
    {
        if(selections[i].value == "none")
        {
            alert("尚有未设置的热点!");
            return -1;
        }
    }

    config_index[zone]++;

    // replace old button with weight
    newWeight = document.getElementById("btn_" + zone).parentNode;
    newWeight.innerHTML = "比重：<input type=\"text\" value=0 size=3 name=\"vals["+zone+"][weight]\" maxlength=5>";
    newWeight.nextSibling.innerHTML = "<a onclick=\"drop_hot_spot("+zone+","+parseInt(level-1)+");\">x</a>";

    // create new row
    var tr = document.createElement("TR");
    tr.setAttribute("id","zone_" + zone + "_" + level);

    //build select options
    var select = document.createElement("SELECT");
    select.setAttribute("name","vals[" + zone + "][name]"); 
    var nullOption = document.createElement("OPTION");
    nullOption.value = "none";
    nullOption.innerHTML = "请选择热点";
    select.appendChild(nullOption);
    for (var p in hot_dns_list) 
    {
        var newOption = document.createElement("OPTION");
        newOption.value = hot_dns_list[p];
        newOption.innerHTML = p;
        select.appendChild(newOption);
    }

    //append selections
    var td1 = document.createElement("TD");
    td1.innerHTML = "第 " + parseInt(level+1) + " 热点：";
    tr.appendChild(td1);
    var td2 = document.createElement("TD");
    td2.appendChild(select);
    tr.appendChild(td2);

    //append new button
    var td3 = document.createElement("TD");
    td3.innerHTML = "<input type=button id=btn_" + zone + " value=\"添加热点\" size=40 onclick=\"add_new_hot_spot(" + zone + ")\">";
    tr.appendChild(td3);

    tr.appendChild(document.createElement("TD"));

    //append row to table body
    tb.appendChild(tr);
}

function drop_hot_spot(zone, level)
{
    var tr = document.getElementById("zone_"+zone+"_"+level);
    var tbody = tr.parentNode;
    tbody.removeChild(tr);
    //alert(tbody.innerHTML);
    for(var i = level; i < tbody.childNodes.length; i++)
    {
        spot = tbody.childNodes[i];
        spot.setAttribute("id","zone_"+zone+"_"+i);
        var tds = spot.getElementsByTagName("TD");
        tds.item(0).innerHTML = "第 "+parseInt(i+1)+" 热点：";
        var selection = tds.item(1).getElementsByTagName("select").item(0);
        selection.name = "vals["+zone+"][name]";
        if(i != tbody.childNodes.length-1)
        {
            var weight = tds.item(2).getElementsByTagName("input").item(0);
            weight.name = "vals["+zone+"][weight]";
            var dropBtn = tds.item(3);
            dropBtn.innerHTML = "<a onclick=\"drop_hot_spot("+zone+","+parseInt(i)+");\">x</a>";
        }
    }
    config_index[zone]--;
}

function chkSubmit()
{
    var selections = document.getElementsByTagName("select");
}

</script>
{% end %}
