{% extends "base.html" %}

{% block cright %}
	<h3>调度策略</h3>
	<table class="table table-striped table-bordered">
		<tr>
			<th>地区</th>
			<th>ISP服务商</th>
			<th colspan="4">IDC机房</th>
		</tr>
		<tr>
            <td>{{ cdn_strategy['region_name'] }}</td>
            <td>{{ cdn_strategy['sp_name'] }}</td>
            <td>
                {% for iw in cdn_strategy['idc_weight'] %}
                    <br> {{ iw[0] }}  &nbsp; &nbsp;权重： {{ iw[1] }}</br>
                {% end %}
            </td>
            <td>
                <form method="post" action="">
                    删除
                    <div class="radio">
                        <label>
                            <input type="radio" name="delstrategy" value="yes"/> 是
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="delstrategy" value="no"/> 否
                        </label>
                    </div>
                    <input type="submit" value="提交" class="btn btn-default">
                </form>
            </td>
        </tr>
	</table>
{% end %}
